.About{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	background-color: #0E0C0F;
	align-items: center;
	
}
.About_Container{
	display: flex;
	flex-direction: column;
	justify-content: initial;
	width: 90%;
	background-color: #0E0C0F;
	
}
.About_Container_Header{

	background-color: #0E0C0F;
}
.About_Container_Header_1{
	margin-top: 80px;
	position: relative;
}
.About_Container_Header_p p{
	font-weight: 800;
	font-size: 100px;
	font-family: 'Raleway', sans-serif;

}
.About_Container_Header_p{
	bottom: -100px;
	color: #252525;
	z-index: 0;
	position: absolute;
	
}
.About_Container_Header_h1{
	position: relative;
	font-weight: 800;
	color: #D2D1D2;
	font-size: 25px;
	font-family: 'Raleway', sans-serif;
	
}
img{
	width: 100%;
}
.image div {

	box-shadow: -3px 5px 0px 2px #B1DFD9;
	width: 250px;
	height: 320px;
}
.image{
	display: flex;
	justify-content: center;
	align-items: center;
   width: 30%;
  height: 300px;
}
.About_Container_Text{
	width: 100%;
	font-size: 25px;
	font-family: 'Raleway', sans-serif;
	
}
.About_Container_Text_1{
	width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.About_Text{

	width: 50%;
}
.About_Text h2{
	color: #B1DFD9;
	font-size: 40px;
	margin-bottom: -30px;

}
.About_Text a{
	color: #B1DFD9;
}
.About_Text h3{
	color: #D2D1D2;
	padding-top: 10px;

	font-size: 16px;

}

.About_Text p{
	margin-top: 5px;
	margin-left: 20px;
}